<div class="row">
  <div class="small-12 columns">
    <h1 class="text-center">HoN Graffiti</h1>
  </div>
</div>

<div class="row">
  <div class="medium-8 medium-offset-2 small-12 columns">
      <% @quotes.each do |quote| %>
        <div class="panel">
          <%= quote.parse_colors %>
          <input id="<%= quote.id %>" readonly type="hidden" value="<%= quote.text %>" />
          <button class="clip-button secondary hollow radius tiny right" data-clipboard-target="<%= quote.id %>" title="Copy to clipboard">
            <i class="fi-clipboard-notes"></i>
          </button>
        </div>
      <% end %>
    <div class="pagination-centered">
      <%= will_paginate @quotes, renderer: FoundationPagination::Sinatra %>
    </div>
    <form action="/submit" method="POST">
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" name="quote[text]" placeholder="Enter quote text" />
        </div>
        <div class="small-2 columns">
          <input class="secondary hollow button postfix" type="submit" value="Submit" />
        </div>
      </div>
    </form>
  </div>
</div>